/* #blog-desc{
    color: goldenrod;
} */
#blog-title:hover{
    color: red;
    
}
article h4:hover{
    color: rgb(226, 39, 226);
}
/* .uppercase,#blog-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
h1{
    font-family: sans-serif;
    font-size: 1.33rem;
}
h4{
    font-family: monospace;
    font-size: 18px;
}
h1#blog-title,p.blogclass{
    color: brown;
}
p.chx span{
    color: blue;
}
#bloglink a{
    font-size: 28px;
    color: black;
    
}
#bloglink a:hover{
color: orange;
}
