#image-logo{
    height: 100vh;
    width: 200vh;
    background-image:url(image/logo_switchtocode.png),url(image/coding_ninjas.png);
    /* background-repeat: no-repeat;  */
    /* background-size:cover;
    background-position: center;
    background-attachment: scroll; */
    /* background-size: 100%; */
    background-position: right bottom,right bottom;
    background-repeat: no-repeat, no-repeat;

}
