.outer-div1{
    height: 200px;
    width: 200px;
    background-color: blue;
    /* margin: 4px; */
    /* margin: 4px 40px; */
    margin-bottom:10px ;
}
.inner-div1{
    height:50%;
    width: 50%;
    background-color: red;
    margin: 5px;
    display: inline-block;
}
.outer-div2{
    height: 200px;
    width: 200px;
    background-color: rgb(234, 146, 45);
    margin-top: 10px;
}