body{
    margin: 0px;
}

/* background image */

header{
    height: 65vh;
    background-image: url(images/header3image.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
}

/* navigation bar */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 25px 25px 0px;
}
header nav{
    margin-bottom: -5px;
}
.horizontal-list li a{
    text-decoration: none;
    color: rgb(55, 54, 54);
    transition: color 0.5s, text-decoration 4s;
}
.horizontal-list li a:hover{
    color: rgb(244, 138, 0);
    text-decoration: underline;
}
.text-center{
    text-align: center;
}

/* Name */
header h1{
    color: rgb(146, 142, 90);
    font-size:60px;
    margin-bottom:-5px ;
}

/* social link */
.sociallink ul li a img{
    width: 24px;
}
.sociallink ul li{
    display: inline-block;
    margin: 0px 50px 50px 0px;
    margin-top: -40px;
    position:relative;
  
}
.sociallink ul li a img {
    transition: transform 0.5s;
}

.sociallink ul li a img:hover{
    transform: translateY(4px);
    
}



