#header-image-container{
/* border: 2px solid red; */
margin: 85px;
margin-right: 12%;
}
#main-header{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#about-site{
    color: rgb(229, 96, 96);
}
#blog-content{

}
#blog-header{

}
#blog-image-container{

}
.h-style{
    color: darkslategray;
}